{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "linebreak-style": 0,
    "react/jsx-props-no-spreading": ["off"],
    "no-confusing-arrow": [
      "error",
      {
        "allowParens": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/jsx-one-expression-per-line": 0,
    "react/sort-prop-types": [
      "error",
      {
        "ignoreCase": false
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["config"]
      }
    ],
    "sort-imports": "off",
    "import/no-unresolved": 0,
    "react/prop-types": "off",
    "no-shadow": "off",
    "indent": ["error", 2],
    "jsx-a11y/anchor-is-valid": "warn",
    "react/jsx-closing-bracket-location": "off",
    "import/prefer-default-export": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/style-prop-object": "off",
    "react/jsx-closing-bracket": "off",
    "react/jsx-curly-newline": ["error"],
    "react/jsx-curly-spacing": ["error", {"when": "always"}],
    "react/jsx-equals-spacing": ["error", "never"],
    "react/jsx-tag-spacing": [
      "error",
      {
        "closingSlash": "never",
        "beforeSelfClosing": "always",
        "afterOpening": "never",
        "beforeClosing": "never"
      }
    ],
    "prettier/prettier": "error",
    "arrow-parens": "off",
    "object-curly-newline": "off"
  },
  "plugins": ["react", "prettier", "react-hooks"],
  "extends": ["airbnb", "prettier"]
}
